*{
    margin:0px;
    padding:0px;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:white;
    height:5rem;

    line-height: 5rem;}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .choice:hover{
        background-color: #081b31;
        cursor:pointer

    }
img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius: 50%;
    
}
.choices{
    display:flex;
    justify-content:center; 
    align-items: center;
    gap:3rem;
    margin-top:5rem;

}
.score-board{
    display:flex;
    justify-content:center ;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
    gap:5rem;
}
#user-score, #comp-score{
    font-size: 4rem;;

}
.msg-container{
    margin-top:5rem;
}
#msg{

    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 1rem;
}
#joking{
    text-decoration: none;
    color: aliceblue;
}
footer{
    height:25px;
     margin-top:10rem;
  text-align:center;
  background-color:#905e88;
  color:aliceblue;
  transition: all;
  color:rgb(236, 228, 228);
  transition-timing-function: linear;
}
body{
    background-color: rgb(214, 195, 208);
}
body{
    transition:all 0.3s ease-in-out;
    ;
}
.dark{
    background-color: black;
    color:white;
}
.light{
    background-color: rgb(196, 230, 234);
    color:black;
}
#btn1{
    cursor: pointer;
    background-color: #081b31;
    color:white;
    width:6rem;
    height:4rem;
    justify-content: flex-end;
    border-radius: 5%;;
}


    